In [1]:
!pip install -q -r requirements.txt

In [5]:
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

### 1. Loading and Exploring Data

In [3]:
df = pd.read_csv('data/processed/aOvRUrcRLE.csv')
df.head ()

,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,CreditScoreBins
0,France,Female,3.76120,2,0.00,1,1,1,101348.88,1,Fair
1,Spain,Female,3.73767,1,83807.86,1,0,1,112542.58,0,Fair
2,France,Female,3.76120,8,159660.80,3,1,0,113931.57,1,Poor
3,France,Female,3.68668,1,0.00,2,0,0,93826.63,0,Good
4,Spain,Female,3.78419,2,125510.82,1,1,1,79084.10,0,Excellent

### 2 Build Scikit-learn Pipelines

In [ ]:
numerical_features = ['Age', 'Tenure','Balance', 'EstimatedSalary']
nominal_features = ['Gender', 'Geography']
ordinal_features = ['CreditScoreBins']

numerical_transformer = Pipeline(
                              steps =[
                                ('Imputer', SimpleImputer(strategy= 'median')),
                                ('scaler', StandardScaler())
                                    ]
                                )

norminal_transformer = Pipeline (
                              steps =[
                                ('Imputer', SimpleImputer(strategy= 'constant',
                                                          fill_value='missing')),
                                ('encoder', OneHotEncoder())
                                    ]
                                )

ordinal_transformer = Pipeline (
                              steps =[
                                ('Imputer', SimpleImputer(strategy= 'constant',
                                                          fill_value='missing')),
                                ('encoder', OrdinalEncoder())
                                    ]
                                )

preprocessor = ColumnTransformer (
  transformers=[
                ('num', numerical_transformer, numerical_features)
                ('nom', norminal_transformer, nominal_features)
                ('ord', ordinal_transformer, ordinal_features)
              ]
                                )