In [3]:
!pip install -q -r requirements.txt

In [4]:
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline

### 1. Loading and Exploring Data

In [5]:
df = pd.read_csv('data/processed/aOvRUrcRLE.csv')
df.head ()

  Geography  Gender      Age  ...  EstimatedSalary  Exited  CreditScoreBins
0    France  Female  3.76120  ...        101348.88       1             Fair
1     Spain  Female  3.73767  ...        112542.58       0             Fair
2    France  Female  3.76120  ...        113931.57       1             Poor
3    France  Female  3.68668  ...         93826.63       0             Good
4     Spain  Female  3.78419  ...         79084.10       0        Excellent

[5 rows x 11 columns]

### 2 Build Scikit-learn Pipelines